.svg4_id {
  #svg4 {
    .cls-1 {
      letter-spacing: 0em;
    }
    .cls-2,
    .cls-3,
    .cls-4 {
      fill: #fff;
    }
    .cls-5 {
      letter-spacing: 0em;
    }
    .cls-6 {
      letter-spacing: 0em;
    }
    .cls-7,
    .cls-8,
    .cls-9,
    .cls-10,
    .cls-11,
    .cls-12,
    .cls-13,
    .cls-14 {
      stroke: #000;
    }
    .cls-7,
    .cls-8,
    .cls-15,
    .cls-10,
    .cls-11,
    .cls-12,
    .cls-16,
    .cls-17,
    .cls-14 {
      stroke-miterlimit: 10;
    }
    .cls-7,
    .cls-9,
    .cls-10,
    .cls-11,
    .cls-12,
    .cls-13,
    .cls-18,
    .cls-14 {
      fill: none;
    }
    .cls-19 {
      font-size: 6px;
    }
    .cls-19,
    .cls-20,
    .cls-21,
    .cls-22 {
      font-family: Roboto-Regular, Roboto;
    }
    .cls-8,
    .cls-12 {
      stroke-width: 0.25px;
    }
    .cls-3,
    .cls-15,
    .cls-4,
    .cls-17 {
      opacity: 0;
    }
    .cls-23 {
      letter-spacing: -0.12em;
    }
    .cls-24 {
      letter-spacing: 0em;
    }
    .cls-25 {
      letter-spacing: -0.01em;
    }
    .cls-9,
    .cls-13,
    .cls-18 {
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .cls-26 {
      letter-spacing: -0.03em;
    }
    .cls-15,
    .cls-16,
    .cls-17 {
      fill: #fcfcfc;
      stroke: #fff;
    }
    .cls-10,
    .cls-11 {
      stroke-width: 3px;
    }
    .cls-27 {
      letter-spacing: -0.04em;
    }
    .cls-28 {
      letter-spacing: -0.13em;
    }
    .cls-11,
    .cls-4,
    .cls-17 {
      fill-rule: evenodd;
    }
    .cls-29 {
      letter-spacing: -0.08em;
    }
    .cls-13,
    .cls-18 {
      stroke-width: 0.26px;
    }
    .cls-18 {
      stroke: #c60;
    }
    .cls-30 {
      letter-spacing: -0.02em;
    }
    .cls-31 {
      letter-spacing: -0.06em;
    }
    .cls-32 {
      letter-spacing: 0em;
    }
    .cls-16 {
      opacity: 0.58;
    }
    .cls-33 {
      letter-spacing: -0.02em;
    }
    .cls-20 {
      font-size: 11.41px;
    }
    .cls-21 {
      font-size: 12px;
    }
    .cls-34 {
      letter-spacing: -0.01em;
    }
    .cls-35 {
      letter-spacing: -0.02em;
    }
    .cls-36 {
      letter-spacing: -0.04em;
    }
    .cls-37 {
      letter-spacing: -0.01em;
    }
    .cls-38 {
      letter-spacing: -0.03em;
    }
    .cls-39 {
      letter-spacing: 0em;
    }
    .cls-22 {
      font-size: 10px;
    }
    .cls-40 {
      font-family: Roboto-Bold, Roboto;
      font-size: 50px;
      font-weight: 700;
    }
    .cls-14 {
      stroke-width: 0.5px;
    }
  }
}

.svg5id {
  #svg5 {
    .cls-1 {
      letter-spacing: 0em;
    }
    .cls-2,
    .cls-3 {
      fill: #fff;
    }
    .cls-4 {
      letter-spacing: 0em;
    }
    .cls-5,
    .cls-6,
    .cls-7,
    .cls-8,
    .cls-9,
    .cls-10,
    .cls-11,
    .cls-12 {
      stroke: #000;
    }
    .cls-5,
    .cls-6,
    .cls-7,
    .cls-8,
    .cls-9,
    .cls-10,
    .cls-12 {
      fill: none;
    }
    .cls-5,
    .cls-7,
    .cls-8,
    .cls-11,
    .cls-12 {
      stroke-miterlimit: 10;
    }
    .cls-13 {
      font-size: 6px;
    }
    .cls-13,
    .cls-14,
    .cls-15 {
      font-family: Roboto-Regular, Roboto;
    }
    .cls-16 {
      letter-spacing: -0.03em;
    }
    .cls-3,
    .cls-11 {
      opacity: 0;
    }
    .cls-17 {
      letter-spacing: 0em;
    }
    .cls-6,
    .cls-9,
    .cls-10 {
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .cls-18 {
      letter-spacing: -0.03em;
    }
    .cls-7 {
      stroke-width: 3px;
    }
    .cls-19 {
      letter-spacing: -0.13em;
    }
    .cls-8 {
      stroke-width: 0.25px;
    }
    .cls-20 {
      letter-spacing: -0.02em;
    }
    .cls-9 {
      stroke-dasharray: 0 0 0.04 0.02;
    }
    .cls-21 {
      letter-spacing: -0.06em;
    }
    .cls-10 {
      stroke-dasharray: 0 0 0.02 0.02;
    }
    .cls-22 {
      letter-spacing: 0em;
    }
    .cls-11 {
      fill: #f40303;
    }
    .cls-23 {
      letter-spacing: -0.01em;
    }
    .cls-14 {
      font-size: 12px;
    }
    .cls-24 {
      letter-spacing: -0.01em;
    }
    .cls-25 {
      letter-spacing: -0.01em;
    }
    .cls-26 {
      letter-spacing: 0em;
    }
    .cls-15 {
      font-size: 10px;
    }
    .cls-27 {
      font-family: Roboto-Bold, Roboto;
      font-size: 50px;
      font-weight: 700;
    }
    .cls-12 {
      stroke-width: 0.5px;
    }
  }
}

.ss {
  .ikr_cls1 {
    letter-spacing: 0em;
  }
  .ikr_cls2,
  .ikr_cls3 {
    fill: #fff;
  }
  .ikr_cls4 {
    letter-spacing: 0em;
  }
  .ikr_cls5,
  .ikr_cls6,
  .ikr_cls7,
  .ikr_cls8,
  .ikr_cls9,
  .ikr_cls10,
  .ikr_cls11,
  .ikr_cls12 {
    stroke: #000;
  }
  .ikr_cls5,
  .ikr_cls6,
  .ikr_cls7,
  .ikr_cls8,
  .ikr_cls9,
  .ikr_cls10,
  .ikr_cls12 {
    fill: none;
  }
  .ikr_cls5,
  .ikr_cls7,
  .ikr_cls8,
  .ikr_cls11,
  .ikr_cls12 {
    stroke-miterlimit: 10;
  }
  .ikr_cls13 {
    font-size: 6px;
  }
  .ikr_cls13,
  .ikr_cls14,
  .ikr_cls15 {
    font-family: Roboto-Regular, Roboto;
  }
  .ikr_cls16 {
    letter-spacing: -0.03em;
  }
  .ikr_cls3,
  .ikr_cls11 {
    opacity: 0;
  }
  .ikr_cls17 {
    letter-spacing: 0em;
  }
  .ikr_cls6,
  .ikr_cls9,
  .ikr_cls10 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .ikr_cls18 {
    letter-spacing: -0.03em;
  }
  .ikr_cls7 {
    stroke-width: 3px;
  }
  .ikr_cls19 {
    letter-spacing: -0.13em;
  }
  .ikr_cls8 {
    stroke-width: 0.25px;
  }
  .ikr_cls20 {
    letter-spacing: -0.02em;
  }
  .ikr_cls9 {
    stroke-dasharray: 0 0 0.04 0.02;
  }
  .ikr_cls21 {
    letter-spacing: -0.06em;
  }
  .ikr_cls10 {
    stroke-dasharray: 0 0 0.02 0.02;
  }
  .ikr_cls22 {
    letter-spacing: 0em;
  }
  .ikr_cls11 {
    fill: #f40303;
  }
  .ikr_cls23 {
    letter-spacing: -0.01em;
  }
  .ikr_cls14 {
    font-size: 12px;
  }
  .ikr_cls24 {
    letter-spacing: -0.01em;
  }
  .ikr_cls25 {
    letter-spacing: -0.01em;
  }
  .ikr_cls26 {
    letter-spacing: 0em;
  }
  .ikr_cls15 {
    font-size: 10px;
  }
  .ikr_cls27 {
    font-family: Roboto-Bold, Roboto;
    font-size: 50px;
    font-weight: 700;
  }
  .ikr_cls12 {
    stroke-width: 0.5px;
  }
}
