.svg4_id #svg4 .cls-1 {
  letter-spacing: 0em;
}
.svg4_id #svg4 .cls-2,
.svg4_id #svg4 .cls-3,
.svg4_id #svg4 .cls-4 {
  fill: #fff;
}
.svg4_id #svg4 .cls-5 {
  letter-spacing: 0em;
}
.svg4_id #svg4 .cls-6 {
  letter-spacing: 0em;
}
.svg4_id #svg4 .cls-7,
.svg4_id #svg4 .cls-8,
.svg4_id #svg4 .cls-9,
.svg4_id #svg4 .cls-10,
.svg4_id #svg4 .cls-11,
.svg4_id #svg4 .cls-12,
.svg4_id #svg4 .cls-13,
.svg4_id #svg4 .cls-14 {
  stroke: #000;
}
.svg4_id #svg4 .cls-7,
.svg4_id #svg4 .cls-8,
.svg4_id #svg4 .cls-15,
.svg4_id #svg4 .cls-10,
.svg4_id #svg4 .cls-11,
.svg4_id #svg4 .cls-12,
.svg4_id #svg4 .cls-16,
.svg4_id #svg4 .cls-17,
.svg4_id #svg4 .cls-14 {
  stroke-miterlimit: 10;
}
.svg4_id #svg4 .cls-7,
.svg4_id #svg4 .cls-9,
.svg4_id #svg4 .cls-10,
.svg4_id #svg4 .cls-11,
.svg4_id #svg4 .cls-12,
.svg4_id #svg4 .cls-13,
.svg4_id #svg4 .cls-18,
.svg4_id #svg4 .cls-14 {
  fill: none;
}
.svg4_id #svg4 .cls-19 {
  font-size: 6px;
}
.svg4_id #svg4 .cls-19,
.svg4_id #svg4 .cls-20,
.svg4_id #svg4 .cls-21,
.svg4_id #svg4 .cls-22 {
  font-family: Roboto-Regular, Roboto;
}
.svg4_id #svg4 .cls-8,
.svg4_id #svg4 .cls-12 {
  stroke-width: 0.25px;
}
.svg4_id #svg4 .cls-3,
.svg4_id #svg4 .cls-15,
.svg4_id #svg4 .cls-4,
.svg4_id #svg4 .cls-17 {
  opacity: 0;
}
.svg4_id #svg4 .cls-23 {
  letter-spacing: -0.12em;
}
.svg4_id #svg4 .cls-24 {
  letter-spacing: 0em;
}
.svg4_id #svg4 .cls-25 {
  letter-spacing: -0.01em;
}
.svg4_id #svg4 .cls-9,
.svg4_id #svg4 .cls-13,
.svg4_id #svg4 .cls-18 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.svg4_id #svg4 .cls-26 {
  letter-spacing: -0.03em;
}
.svg4_id #svg4 .cls-15,
.svg4_id #svg4 .cls-16,
.svg4_id #svg4 .cls-17 {
  fill: #fcfcfc;
  stroke: #fff;
}
.svg4_id #svg4 .cls-10,
.svg4_id #svg4 .cls-11 {
  stroke-width: 3px;
}
.svg4_id #svg4 .cls-27 {
  letter-spacing: -0.04em;
}
.svg4_id #svg4 .cls-28 {
  letter-spacing: -0.13em;
}
.svg4_id #svg4 .cls-11,
.svg4_id #svg4 .cls-4,
.svg4_id #svg4 .cls-17 {
  fill-rule: evenodd;
}
.svg4_id #svg4 .cls-29 {
  letter-spacing: -0.08em;
}
.svg4_id #svg4 .cls-13,
.svg4_id #svg4 .cls-18 {
  stroke-width: 0.26px;
}
.svg4_id #svg4 .cls-18 {
  stroke: #c60;
}
.svg4_id #svg4 .cls-30 {
  letter-spacing: -0.02em;
}
.svg4_id #svg4 .cls-31 {
  letter-spacing: -0.06em;
}
.svg4_id #svg4 .cls-32 {
  letter-spacing: 0em;
}
.svg4_id #svg4 .cls-16 {
  opacity: 0.58;
}
.svg4_id #svg4 .cls-33 {
  letter-spacing: -0.02em;
}
.svg4_id #svg4 .cls-20 {
  font-size: 11.41px;
}
.svg4_id #svg4 .cls-21 {
  font-size: 12px;
}
.svg4_id #svg4 .cls-34 {
  letter-spacing: -0.01em;
}
.svg4_id #svg4 .cls-35 {
  letter-spacing: -0.02em;
}
.svg4_id #svg4 .cls-36 {
  letter-spacing: -0.04em;
}
.svg4_id #svg4 .cls-37 {
  letter-spacing: -0.01em;
}
.svg4_id #svg4 .cls-38 {
  letter-spacing: -0.03em;
}
.svg4_id #svg4 .cls-39 {
  letter-spacing: 0em;
}
.svg4_id #svg4 .cls-22 {
  font-size: 10px;
}
.svg4_id #svg4 .cls-40 {
  font-family: Roboto-Bold, Roboto;
  font-size: 50px;
  font-weight: 700;
}
.svg4_id #svg4 .cls-14 {
  stroke-width: 0.5px;
}

.svg5id #svg5 .cls-1 {
  letter-spacing: 0em;
}
.svg5id #svg5 .cls-2,
.svg5id #svg5 .cls-3 {
  fill: #fff;
}
.svg5id #svg5 .cls-4 {
  letter-spacing: 0em;
}
.svg5id #svg5 .cls-5,
.svg5id #svg5 .cls-6,
.svg5id #svg5 .cls-7,
.svg5id #svg5 .cls-8,
.svg5id #svg5 .cls-9,
.svg5id #svg5 .cls-10,
.svg5id #svg5 .cls-11,
.svg5id #svg5 .cls-12 {
  stroke: #000;
}
.svg5id #svg5 .cls-5,
.svg5id #svg5 .cls-6,
.svg5id #svg5 .cls-7,
.svg5id #svg5 .cls-8,
.svg5id #svg5 .cls-9,
.svg5id #svg5 .cls-10,
.svg5id #svg5 .cls-12 {
  fill: none;
}
.svg5id #svg5 .cls-5,
.svg5id #svg5 .cls-7,
.svg5id #svg5 .cls-8,
.svg5id #svg5 .cls-11,
.svg5id #svg5 .cls-12 {
  stroke-miterlimit: 10;
}
.svg5id #svg5 .cls-13 {
  font-size: 6px;
}
.svg5id #svg5 .cls-13,
.svg5id #svg5 .cls-14,
.svg5id #svg5 .cls-15 {
  font-family: Roboto-Regular, Roboto;
}
.svg5id #svg5 .cls-16 {
  letter-spacing: -0.03em;
}
.svg5id #svg5 .cls-3,
.svg5id #svg5 .cls-11 {
  opacity: 0;
}
.svg5id #svg5 .cls-17 {
  letter-spacing: 0em;
}
.svg5id #svg5 .cls-6,
.svg5id #svg5 .cls-9,
.svg5id #svg5 .cls-10 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.svg5id #svg5 .cls-18 {
  letter-spacing: -0.03em;
}
.svg5id #svg5 .cls-7 {
  stroke-width: 3px;
}
.svg5id #svg5 .cls-19 {
  letter-spacing: -0.13em;
}
.svg5id #svg5 .cls-8 {
  stroke-width: 0.25px;
}
.svg5id #svg5 .cls-20 {
  letter-spacing: -0.02em;
}
.svg5id #svg5 .cls-9 {
  stroke-dasharray: 0 0 0.04 0.02;
}
.svg5id #svg5 .cls-21 {
  letter-spacing: -0.06em;
}
.svg5id #svg5 .cls-10 {
  stroke-dasharray: 0 0 0.02 0.02;
}
.svg5id #svg5 .cls-22 {
  letter-spacing: 0em;
}
.svg5id #svg5 .cls-11 {
  fill: #f40303;
}
.svg5id #svg5 .cls-23 {
  letter-spacing: -0.01em;
}
.svg5id #svg5 .cls-14 {
  font-size: 12px;
}
.svg5id #svg5 .cls-24 {
  letter-spacing: -0.01em;
}
.svg5id #svg5 .cls-25 {
  letter-spacing: -0.01em;
}
.svg5id #svg5 .cls-26 {
  letter-spacing: 0em;
}
.svg5id #svg5 .cls-15 {
  font-size: 10px;
}
.svg5id #svg5 .cls-27 {
  font-family: Roboto-Bold, Roboto;
  font-size: 50px;
  font-weight: 700;
}
.svg5id #svg5 .cls-12 {
  stroke-width: 0.5px;
}

.ss .ikr_cls1 {
  letter-spacing: 0em;
}
.ss .ikr_cls2,
.ss .ikr_cls3 {
  fill: #fff;
}
.ss .ikr_cls4 {
  letter-spacing: 0em;
}
.ss .ikr_cls5,
.ss .ikr_cls6,
.ss .ikr_cls7,
.ss .ikr_cls8,
.ss .ikr_cls9,
.ss .ikr_cls10,
.ss .ikr_cls11,
.ss .ikr_cls12 {
  stroke: #000;
}
.ss .ikr_cls5,
.ss .ikr_cls6,
.ss .ikr_cls7,
.ss .ikr_cls8,
.ss .ikr_cls9,
.ss .ikr_cls10,
.ss .ikr_cls12 {
  fill: none;
}
.ss .ikr_cls5,
.ss .ikr_cls7,
.ss .ikr_cls8,
.ss .ikr_cls11,
.ss .ikr_cls12 {
  stroke-miterlimit: 10;
}
.ss .ikr_cls13 {
  font-size: 6px;
}
.ss .ikr_cls13,
.ss .ikr_cls14,
.ss .ikr_cls15 {
  font-family: Roboto-Regular, Roboto;
}
.ss .ikr_cls16 {
  letter-spacing: -0.03em;
}
.ss .ikr_cls3,
.ss .ikr_cls11 {
  opacity: 0;
}
.ss .ikr_cls17 {
  letter-spacing: 0em;
}
.ss .ikr_cls6,
.ss .ikr_cls9,
.ss .ikr_cls10 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.ss .ikr_cls18 {
  letter-spacing: -0.03em;
}
.ss .ikr_cls7 {
  stroke-width: 3px;
}
.ss .ikr_cls19 {
  letter-spacing: -0.13em;
}
.ss .ikr_cls8 {
  stroke-width: 0.25px;
}
.ss .ikr_cls20 {
  letter-spacing: -0.02em;
}
.ss .ikr_cls9 {
  stroke-dasharray: 0 0 0.04 0.02;
}
.ss .ikr_cls21 {
  letter-spacing: -0.06em;
}
.ss .ikr_cls10 {
  stroke-dasharray: 0 0 0.02 0.02;
}
.ss .ikr_cls22 {
  letter-spacing: 0em;
}
.ss .ikr_cls11 {
  fill: #f40303;
}
.ss .ikr_cls23 {
  letter-spacing: -0.01em;
}
.ss .ikr_cls14 {
  font-size: 12px;
}
.ss .ikr_cls24 {
  letter-spacing: -0.01em;
}
.ss .ikr_cls25 {
  letter-spacing: -0.01em;
}
.ss .ikr_cls26 {
  letter-spacing: 0em;
}
.ss .ikr_cls15 {
  font-size: 10px;
}
.ss .ikr_cls27 {
  font-family: Roboto-Bold, Roboto;
  font-size: 50px;
  font-weight: 700;
}
.ss .ikr_cls12 {
  stroke-width: 0.5px;
}/*# sourceMappingURL=test_svg.css.map */