
// @import './test_svg.scss';

/* add tooltip detail style  */
.ikrwmap_details_container {
  /* pointer-events: none; */
  width: max-content;
  max-width: 240px;// default 
  // max-width: 300px;
  min-width: 150px;
  z-index: 5;
  max-height: max-content;
  height: auto;
  flex-shrink: 0;
  margin: 20px auto;
  overflow-wrap: break-word;
  display: none;
  position: absolute;
  background: #fff;
  padding: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(var(--rotate_value));
  }

  .ikrwmap_detail_img {
    width: 100%;
    height: auto;
    max-height: 120px;
    background: #fff;
    overflow: hidden;
    display: none;
    img {
      width: 100%;
      height: auto;
    }
  }

  .ikrmap_title {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  .ikrwmap_details {
    text-align: center;
    padding: 10px 8px 12px;
    .ikrmap_detail_des {
      color: #000;
      text-align: left;
      font-family: Roboto;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 2px !important;
      font-weight: 400;
      margin: 0;
    
      padding-bottom: 12px;

      div {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          /*color: green;*/
          left: -20px;
          background-color: green;
          top: 3px;
          text-align: center;
        }
      }
      p{
        padding: 0;
        margin: 0;
        font-size: 14px;
        text-align: center;
      }
    }
   
  }
  #ikrwmap_btnTxt {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
  }
  .ikrwmap_tooltip_button {
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out,      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    white-space: nowrap;
    background: #1cbb64;
    border: #1cbb64 solid 1px;
    box-shadow: 0 1px 1px #0000001f;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    font-size: 1rem;
    min-width: 110px;
    padding: 4px 16px;
    width: max-content;
    text-align: center;
    margin: 0px auto 0;
    -webkit-transition: background-color 0.15s ease-in-out,;
    -moz-transition: background-color 0.15s ease-in-out,;
    -ms-transition: background-color 0.15s ease-in-out,;
    -o-transition: background-color 0.15s ease-in-out,;
}
}

@media screen and (max-width: 667px) {
  .ikrwmap_details_container {
    max-width: 172px;
    min-width: 121px;

    .ikrwmap_details {
      padding: 0px 0px 12px;

      .ikrmap_title {
        font-size: 15px;
      }
      .ikrwmap_tooltip_button {
        font-size: 13px;
      }
      .ikrmap {
        padding-bottom: 12px;

        div {
          font-size: 11px;
          &::before {
            width: 10px;
            height: 10px;
            left: -13px;
            top: 6px;
          }
        }
      }
    }
  }
}

.ikrwmap_tooltip {
  pointer-events: none;
	width: max-content !important;
  max-width: 200px;
  word-wrap: break-word;
  position: absolute;
  display: none;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: auto;
 
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  transform: translate(-47%, -20%);
  -webkit-transform: translate(-47%, -20%);
  -moz-transform: translate(-47%, -20%);
  -ms-transform: translate(-47%, -20%);
  -o-transform: translate(-47%, -20%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ikrwmap_tooltip.active {
  display: block;
}
.ikrwmap_tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}


#ikrwmap_output{
  position: relative;
}


// add new tooltip style 
  .ikr_tooltip-card {
     
      background: #ffffff;
   
 
     
  
    
      color: #111827;
   

    
    

    h3 {
      margin-top: 0;
      font-size: 18px;
      color: #0066cc;
      padding: 0 !important;
    }
     p {
      margin:  0 0 8px;
      font-size: 14px;
      padding: 0;
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 5px 0;
    }

    
    .status {
      font-weight: bold;
    }

    .status.sponsored {
      color: #2e7d32;
      
      text-transform: uppercase;
    }

    .status.available {
      color: #ff9933;
      text-transform: uppercase;
    }

    .tooltip-total {
      font-weight: bold;
      font-size: 16px;
      margin-top: 10px;
    }

    @media (max-width: 500px) {
        
      h3{
        font-size: 14px;
        margin: 0 0 5px;
      }
      p{
        font-size: 12px;
        margin: 0;
      }
      hr{
        margin: 5px 0;
      }

        .visible {
        transform: none !important;
      }

    }

    }
      .visible {
      display: block;
      transform: translateY(0);
      opacity: 1;
    }


    .hidden {
    display: none;
}

.readmore-btn {
   color: #007BFF;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;
  font-size: 13px;
  text-decoration: none;
}

.readmore-btn:hover {
    color: #0056b3;
}
